@page "/admin/entity/profile/password"

@inject IAuthService AuthService
@attribute [Authorize]
    @if (ShowAlert)
{

	@if (ChangeState)
	{
		<MudAlert Severity="Severity.Success" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="(() => CloseMe(false))">
			Done! <span>@message</span>
		</MudAlert>

	}
	else
	{
		<MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="(() => CloseMe(false))">
			Error! - <span>@message</span>
		</MudAlert>

	}
}
<AuthorizeView>

	<div class="d-flex justify-content-center">
		<img src="/logomedium.png" style="width:200px;" />
	</div>
	<div style="font-family:Cairo;" class="d-flex justify-content-center">
		<h3>تغيير كلمة المرور</h3>
	</div>
</AuthorizeView>

<EditForm Model="request" OnValidSubmit="ChangeUserPassword">
	<div style="font-family:Cairo;font-weight:bold;font-size:16px;" class="d-flex justify-content-center">
		<div class="col-md-4 mb-3">

			<div class="mb-3">
				<label for="email">حساب الدخول</label>
				<InputText id="email" @bind-Value="request.Email" class="form-control" />
			</div>
			<div class="mb-3">
				<label for="password">كلمة المرور</label>
				<InputText id="password" @bind-Value="request.Password" class="form-control" />
			</div>
			
			<button type="submit" class="btn btn-primary">تغيير</button>
		</div>
	</div>
</EditForm>
@if (state)
{
	<div style="font-family:Cairo;font-weight:bold;font-size:16px;" class="d-flex justify-content-center">

		<div class="center-content">
			<MudProgressCircular Color="Color.Secondary" Indeterminate="true" />

		</div>
	</div>
}

@code {
	UserLogin request = new UserLogin();
	string message = string.Empty;
	bool ShowAlert;
	bool ChangeState;
	string email = string.Empty;
	string password = string.Empty;
	private bool state = false;

	private async Task ChangeUserPassword()
	{
		state = true;
		var result = await AuthService.ChangePasswordAdmin(request);
		state = false;

		message = result.Message;
		ChangeState = result.Success;
		ShowAlert = true;
	}
	private void CloseMe(bool value)
	{
		ShowAlert = false;
	}
}