<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/" style="font-family:Cairo;font-size:20px;">G.Z.B.O/</a>

        <a class="navbar-brand" href="/" style="font-family:Cairo;font-size:20px;">اللجنة الامنية</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu" style="font-family:Cairo;font-size:20px;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> الرئيسية
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addform">
                <span class="oi oi-plus" aria-hidden="true"></span> اضافة استمارة
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="forms">
                <span class="oi oi-list-rich" aria-hidden="true"></span> الاستمارات
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
