<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/" style="font-family:Cairo;font-size:20px;">G.Z.B.O/</a>

        <a class="navbar-brand" href="/" style="font-family:Cairo;font-size:20px;">اللجنة الامنية</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu" style="font-family:Cairo;font-size:20px;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> الرئيسية
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reservations">
                <span class="oi oi-plus" aria-hidden="true"></span>مواعيد الاسبوع الحالي
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reservationsnext">
                <span class="oi oi-plus" aria-hidden="true"></span>مواعيد الاسبوع القادم
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sponser">
                <span class="oi oi-badge" aria-hidden="true"></span> حجز موعد الاسبوع الحالي
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sponser1">
                <span class="oi oi-badge" aria-hidden="true"></span> حجز موعد الاسبوع القادم
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
