@inject NavigationManager NavigationManager

<div class="input-group" dir="rtl" style="font-family: 'Cairo', sans-serif;width:350px; margin-left:15px;">
    <input @bind-value="searchText"
    @bind-value:event="oninput"
        type="search"
        list="books"
    @onkeyup="HandleSearch"
           class="form-control"
           placeholder="ابحث عن استمارة او اسم"
    @ref="searchInput" />
   
</div>


@code {
    private string searchText = string.Empty;
    private List<string> suggestions = new List<string>();
    protected ElementReference searchInput;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await searchInput.FocusAsync();
        }
    }

    public void SearchForms()
    {
        NavigationManager.NavigateTo($"search/{searchText}");
    }
    public async Task HandleSearch(KeyboardEventArgs args)
    {
        if (args.Key == null || args.Key.Equals("Enter"))
        {
            SearchForms();
        }
        else if (searchText.Length > 1)
        {
            
        }
    }
}
